testdir/test01
testdir/test01.result
testdir/test02
testdir/test02.result
testdir/test03
testdir/test03.result
testdir/test04
testdir/test04.result
testdir/test05
testdir/test05.result
testdir/test06
testdir/test06.result
testdir/tmp.in
testdir/.result
testdir/test
