core
testdir/core
testdir/*.o
testdir/*.result
testdir/test01
testdir/test02
testdir/test03
testdir/test04
testdir/test05
testdir/test06
testdir/test07
testdir/test08
testdir/test09
testdir/test10
testdir/test11
testdir/test12
testdir/test13
testdir/test14
testdir/test15
testdir/test16
testdir/test17
testdir/test18
testdir/test19
testdir/test20
testdir/test21
testdir/test22
testdir/test23
testdir/test24
testdir/test25
testdir/test26
testdir/test27
testdir/test28
testdir/test29
testdir/test30
